---

---

<header
  class="bg-white/10 fixed top-0 right-0 w-full z-20 flex justify-between items-center px-12 py-4 backdrop-blur-md rounded-lg text-white"
>
  <section class="flex items-center gap-4">
    <figure class="hover:scale-110 transition-all duration-200">
      <a href="/">
        <img
          src="./src/assets/logos/logoavatar.png"
          alt="Logo"
          class="w-12 h-12"
        />
      </a>
    </figure>
    <div>
      <h3 class="text-blue-400 text-xl font-bold">Multi Theft Auto:SA</h3>
      <span class="text-sm">v1.6 release</span>
    </div>
  </section>
  <ul class="flex gap-4 font-medium">
    <li>
      <a
        href="/"
        class="hover:text-blue-400 text-lg font-semibold transition-all duration-200"
        >Characteristic</a
      >
    </li>
    <li>
      <a
        href="/"
        class="hover:text-blue-400 text-lg font-semibold transition-all duration-200"
        >Servers</a
      >
    </li>
    <li>
      <a
        href="/"
        class="hover:text-blue-400 text-lg font-semibold transition-all duration-200"
        >Resources</a
      >
    </li>
    <li>
      <a
        href="/"
        class="hover:text-blue-400 text-lg font-semibold transition-all duration-200"
        >Wiki</a
      >
    </li>
  </ul>
</header>
