---
import Dangerous from "./icons/Dangerous.astro";
import Download from "./icons/Download.astro";
import Dot from "./icons/Dot.astro";
import DownloadButton from "./ui/DownloadButton.astro";
---

<section
  class="hero flex flex-col md:flex-row items-center gap-x-24 mt-48 text-center md:text-left px-24"
>
  <div
    class="flex flex-col items-center md:items-start justify-center md:w-1/2 space-y-6"
  >
    <div
      class="flex items-center justify-center md:justify-start flex-wrap gap-4 w-max"
    >
      <h1 class="text-5xl font-extrabold text-white">
        Multi Theft Auto San Andreas
      </h1>

      <span
        class="max-md:hidden relative inline-block overflow-hidden rounded-full p-[1.5px] hover:scale-105 transition-all duration-200"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#CBE0FF_0%,#399EB2_50%,#CBFFFF_100%)]"
        ></span>
        <div
          class="max-md:hidden inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-gray-800 px-4 py-2 text-xs font-medium text-gray-50 backdrop-blur-3xl"
        >
          MTA:SA 1.6v Available Now!
        </div>
      </span>
    </div>

    <div>
      <p class="max-w-2xl text-lg mb-4 text-white">
        The definitive multiplayer modification for GTA San Andreas. Experience
        San Andreas with friends on servers featuring Roleplay, Freeroam, DayZ,
        Stunt and much more.
      </p>
      <DownloadButton />
      <p>
        <span class="text-yellow-400 flex items-center gap-x-2 mt-4"
          ><Dangerous /> Requires an original copy of GTA: San Andreas.</span
        >
      </p>
    </div>
  </div>

  <figure
    class="max-md:hidden justify-center items-center mt-10 md:mt-0 md:w-1/2"
  >
    <img
      src="./src/assets/pictures/picture1.webp"
      alt="Picture 1"
      class="object-cover w-4/5 rounded-tl-[128px] rounded-br-[128px] shadow-2xl shadow-blue-400"
    />
    <p class="text-white flex mt-12 text-lg items-center font-medium">
      <span class="text-green-300 shadow-2xl shadow-green-300 text-lg"
        ><Dot /></span
      >
      9.525 users online on 523 public servers
    </p>
  </figure>
</section>
