---
import Download from "./../icons/Download.astro";
---

<a
  href="/"
  class="bg-primary flex gap-x-1 px-4 py-3 max-w-max rounded-lg text-lg text-white font-medium hover:bg-secondary transition-all duration-200 mt-4"
>
  <span><Download /></span> Download MTA:SA</a
>
